/* base styles */

@tailwind base;

/* add components */

@tailwind components;

/* remove recaptcha badge */
.grecaptcha-badge {
  visibility: hidden;
}

/* remove algolia watermark */
.ap-footer {
  visibility: hidden;
  height: 0;
}

/* utilities */

@tailwind utilities;
