@import '~react-toastify/dist/ReactToastify.css';

/* base styles */

@tailwind base;

/* add components */

@tailwind components;


/* remove outlines on focus */
button:focus {
  @apply outline-none;
}
input:focus {
  @apply outline-none;
}

/* remove recaptcha badge */
.grecaptcha-badge {
  visibility: hidden;
}

/* remove algolia watermark */
.ap-footer {
  visibility: hidden;
  height: 0;
}

/* fix select dropdown thing */
.select-dropdown input:focus {
  box-shadow: none;
}

/* colors for toasts */
.Toastify__toast--default {
  @apply bg-gray-500;
  @apply text-gray-100;
}

.Toastify__toast--info {
  @apply bg-blue-500;
}

.Toastify__toast--success {
  @apply bg-green-500;
}

.Toastify__toast--warning {
  @apply bg-yellow-300;
}

.Toastify__toast--error {
  @apply bg-red-500;
}

@import '~easymde/dist/easymde.min.css';

.CodeMirror-scroll {
  min-height: 0 !important;
  @apply h-40;
  overflow-y: auto;
}

.editor-min .CodeMirror-scroll {
  @apply h-auto;
}

.editor-min .CodeMirror {
  @apply h-auto;
  @apply rounded-t-3xl;
  @apply rounded-b-3xl;
  @apply text-sm;
  @apply py-1;
}

@import './markdown.scss';

@import '~emoji-mart/css/emoji-mart.css';

/* utilities */

@tailwind utilities;
